::-webkit-scrollbar{
    background: red;
    inline-size: .5rem;
    block-size: .5rem;
    ;

}

/* ::-webkit-scrollbar-button{
    background-color: blue;
} */

::-webkit-scrollbar-thumb{
    background: var(--gray60);
    border-radius: .5rem
}

::-webkit-scrollbar-track{
    background: var(--gray50);
}